/* Denne koden er hentet fra arbeidskrav (frida)*/
html, 
 body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color:whitesmoke;
 }

 main{
    flex: 1;
 }

.nav-bar{
    background-color: #1E3A8A;
    padding: 16px; 
    margin: 0;
    box-sizing: border-box;
    top: 0;
    z-index: 1000;
    width: 100%;
 }


 .navbar-list{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 8px;
 }

 a{
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(255, 255, 255);
 }

 #index-li{
    position: absolute;
    left: 0;
    color: white;
}

#side2-li {
    position: absolute;
}

/* Stopp kode hentet fra arbeiskrav*/

#side3-li {
    position: absolute;
    right: 0;
}

#footer {
    width: 100%; 
    background-color:  rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 24px;
    margin: 0;
    box-sizing: border-box;
}

/* Side 1 /index */
.page-body{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-section{
    text-align: center;
    padding: 20px;
}

.main-section h1 {
    font-size: 4em;
    color: #1E3A8A ; 
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.main-section-subtext{
    margin-top: 15px;
}

/* Side 2*/
pre {
 background-color: white;
 padding: 8px;
}

/* side 3*/
.side3-main-container{
    background-color: #93C5FD;
}